<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @distribution_cost.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @distribution_cost.month %>
</p>

<p>
  <strong>Value:</strong>
  <%= @distribution_cost.value %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @distribution_cost.cost_center %>
</p>

<p>
  <strong>Supported cost center:</strong>
  <%= @distribution_cost.supported_cost_center %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @distribution_cost.entity %>
</p>

<%= link_to 'Edit', edit_distribution_cost_path(@distribution_cost) %> |
<%= link_to 'Back', distribution_costs_path %>
