<% content_for :stylesheet do %>
<% end %>

<% content_for :breadcrumb_title do %><%= Language.model_name.human %><% end %>
<% content_for :breadcrumb_list do %>
    <li><%= link_to "#{t('app.texts.list_of', element: Language.model_name.human(:count => 2))}", languages_path %></li>
    <li class="active"><strong><%= t('app.texts.edition', element: Language.model_name.human(:count => 1)) %></strong></li>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('app.texts.editing', element: Language.model_name.human(:count => 1)) %></h5>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
