<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'datatable', media: 'screen', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb_title do %><%= User.model_name.human %><% end %>
<% content_for :breadcrumb_list do %>
    <li class="active"><strong><%= t('app.texts.list_of', element: User.model_name.human(:count => 2)) %></strong></li>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('app.texts.list_of', element: User.model_name.human(:count => 2)) %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="">
            <a href="<%= new_user_registration_path %>">
              <button class="btn btn-outline btn-primary dim" type="button">
                <i class="fa fa-plus"></i>
              </button>
            </a>
          </div>
          <%= render :layout =>  'layouts/commons/list_element', locals: {
              :table_titles => columns_model_translated(User, ['geography_id', 'email', 'full_name', 'role', 'state']), :view_actions => true} do %>
              <% @users.each do |user| %>
                  <tr class="gradeX">
                    <td><%= get_attribute_geography(user, 'description') %></td>
                    <td><%= best_in_place_if can?(:update, User), user, :email, :as => :input,
                                             :inner_class => 'form-control' %></td>
                    <td><%= best_in_place_if can?(:update, User), user, :full_name, :as => :input,
                                             :inner_class => 'form-control' %></td>
                    <td><%= t("app.users.abbreviated_roles.#{user.role}") %></td>
                    <td>
                      <span class="<%= user.state == true ? 'text-success' : 'text-danger' %> span-state">
                        <%= best_in_place_if can?(:update, User), user, :state, as: :checkbox, collection:
                            {false: t('app.status.deactivated'), true: t('app.status.activated')} %>
                      </span>
                    </td>
                    <td>
                      <%= link_to edit_user_path(user) do %>
                          <i class="fa fa-pencil text-navy text-warning"></i>
                      <% end %>
                       | 
                      <%= link_to users_reset_password_path(user), remote: true, 'data-method': 'put' do %> 
                        <i class='fa fa-undo'></i>
                      <% end %>                      
                    </td>
                  </tr>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
    <%= javascript_include_tag 'datatable', 'data-turbolinks-track' => true %>

    <script type="text/javascript">
      $(function() {
        var number_of_columns = $(".list_of_model_elements thead").find("th").length - 1,
            name_table = "<%= t("app.controllers.#{params[:controller]}") %>",
            texts_i18n = {
              language: {
                processing: "<%= t('javascript.data_tables.texts.processing') %>",
                length_menu: "<%= t('javascript.data_tables.texts.length_menu') %>",
                zero_records: "<%= t('javascript.data_tables.texts.zero_records') %>",
                empty_table: "<%= t('javascript.data_tables.texts.empty_table') %>",
                info: "<%= t('javascript.data_tables.texts.info') %>",
                info_empty: "<%= t('javascript.data_tables.texts.info_empty') %>",
                info_filtered: "<%= t('javascript.data_tables.texts.info_filtered') %>",
                search: "<%= t('javascript.data_tables.texts.search') %>",
                loading_records: "<%= t('javascript.data_tables.texts.loading_records') %>",
                paginate: {
                  first: "<%= t('javascript.data_tables.texts.paginate.first') %>",
                  last: "<%= t('javascript.data_tables.texts.paginate.last') %>",
                  next: "<%= t('javascript.data_tables.texts.paginate.next') %>",
                  previous: "<%= t('javascript.data_tables.texts.paginate.previous') %>"
                },
                sort_ascending: "<%= t('javascript.data_tables.texts.paginate.previous') %>",
                sort_descending: "<%= t('javascript.data_tables.texts.paginate.previous') %>",
                copy_text: {
                  title: "<%= t('javascript.data_tables.texts.copy_text.title') %>",
                  success: {
                    one: "<%= t('javascript.data_tables.texts.copy_text.success.one') %>",
                    other: "<%= t('javascript.data_tables.texts.copy_text.success.other') %>"
                  }
                },
                buttons: {
                  copy: "<%= t('javascript.data_tables.texts.buttons.copy') %>",
                  print: "<%= t('javascript.data_tables.texts.buttons.print') %>"
                }
              }
            };
        perc_data_tables.construct_datatable(number_of_columns, name_table,[[0,'asc']], true, texts_i18n);

        $(".best_in_place").best_in_place();

        $(".span-state span").on("DOMSubtreeModified", function () {
          if ($(this).parent().hasClass("text-success")) {
            $(this).parent().removeClass( "text-success" ).addClass("text-danger");
          }else {
            $(this).parent().removeClass( "text-danger" ).addClass("text-success");
          }
        });
      });
    </script>
<% end %>