<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'datatable', media: 'screen', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb_title do %><%= Payroll.model_name.human %><% end %>
<% content_for :breadcrumb_list do %>
    <li class="active"><strong><%= t('app.texts.list_of', element: Payroll.model_name.human(:count => 2)) %></strong></li>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('app.texts.list_of', element: Payroll.model_name.human(:count => 2)) %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-1">
              <a href="<%= new_payroll_path %>">
                <button class="btn btn-outline btn-primary dim" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </a>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <%= link_to "CSV", payrolls_path(format: "csv") %> |
                <%= link_to "Excel", payrolls_path(format: "xls") %> |
                <%= link_to "Formato Excel", payrolls_path(format: "xls_empty") %>
              </div>
            </div>
            <div class="col-md-6">
              <%= form_tag import_payrolls_path, multipart: true, class: 'form-inline' do %>
                  <div class="checkbox m-r-xs">
                    <input type="checkbox" id='empty_format' name='empty_format'>
                    <label for="checkbox1">
                      Vaciar Antes
                    </label>
                  </div>
                  <div class="form-group">
                    <%= file_field_tag :file %>
                  </div>
                  <div class="form-group">
                    <%= submit_tag "Importar", class: 'btn btn-default' %>
                  </div>
              <% end %>
            </div>
          </div>
          <% if @consolidated %>
            <%= render :layout =>  'layouts/commons/list_element', locals: {
                :table_titles => columns_model_translated(Payroll, ['entity_id', 'salary', 'labor_law_id', 'bonuses', 'benefits']), :view_actions => true} do %>
                <% @payrolls.each do |payroll| %>
                    <tr class="gradeX">
                      <td><%= payroll.entity.abbreviation %></td>
                      <td><span class="decimal_numbers_2"><%= payroll.salary %></span></td>
                      <td><%= "#{payroll.labor_law.staff.description} - #{payroll.labor_law.contract_type.description} - #{payroll.labor_law.labor_standard.description}" %></td>
                      <td><span class="decimal_numbers_2"><%= payroll.bonuses %></span></td>
                      <td><span class="decimal_numbers_2"><%= payroll.benefits %></span></td>
                      <td>
                        <%= link_to edit_payroll_path(payroll) do %>
                            <i class="fa fa-pencil text-navy text-warning"></i>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
          <% else %>
            <%= render :layout =>  'layouts/commons/list_element', locals: {
                :table_titles => columns_model_translated(Payroll, ['entity_id', 'dni', 'name', 'salary', 'labor_law_id', 'bonuses', 'benefits']), :view_actions => true} do %>
                <% @payrolls.each do |payroll| %>
                    <tr class="gradeX">
                      <td><%= payroll.entity.abbreviation %></td>
                      <td><%= payroll.dni %></td>
                      <td><%= payroll.name %></td>
                      <td><span class="decimal_numbers_2"><%= payroll.salary %></span></td>
                      <td><%= "#{payroll.labor_law.staff.description} - #{payroll.labor_law.contract_type.description} - #{payroll.labor_law.labor_standard.description}" %></td>
                      <td><span class="decimal_numbers_2"><%= payroll.bonuses %></span></td>
                      <td><span class="decimal_numbers_2"><%= payroll.benefits %></span></td>
                      <td>
                        <%= link_to edit_payroll_path(payroll) do %>
                            <i class="fa fa-pencil text-navy text-warning"></i>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
    <%= javascript_include_tag 'datatable', 'data-turbolinks-track' => true %>

    <script type="text/javascript">
      $(function() {
        var number_of_columns = $(".list_of_model_elements thead").find("th").length - 1,
            name_table = "<%= t("app.controllers.#{params[:controller]}") %>",
            texts_i18n = {
              language: {
                processing: "<%= t('javascript.data_tables.texts.processing') %>",
                length_menu: "<%= t('javascript.data_tables.texts.length_menu') %>",
                zero_records: "<%= t('javascript.data_tables.texts.zero_records') %>",
                empty_table: "<%= t('javascript.data_tables.texts.empty_table') %>",
                info: "<%= t('javascript.data_tables.texts.info') %>",
                info_empty: "<%= t('javascript.data_tables.texts.info_empty') %>",
                info_filtered: "<%= t('javascript.data_tables.texts.info_filtered') %>",
                search: "<%= t('javascript.data_tables.texts.search') %>",
                loading_records: "<%= t('javascript.data_tables.texts.loading_records') %>",
                paginate: {
                  first: "<%= t('javascript.data_tables.texts.paginate.first') %>",
                  last: "<%= t('javascript.data_tables.texts.paginate.last') %>",
                  next: "<%= t('javascript.data_tables.texts.paginate.next') %>",
                  previous: "<%= t('javascript.data_tables.texts.paginate.previous') %>"
                },
                sort_ascending: "<%= t('javascript.data_tables.texts.paginate.previous') %>",
                sort_descending: "<%= t('javascript.data_tables.texts.paginate.previous') %>",
                copy_text: {
                  title: "<%= t('javascript.data_tables.texts.copy_text.title') %>",
                  success: {
                    one: "<%= t('javascript.data_tables.texts.copy_text.success.one') %>",
                    other: "<%= t('javascript.data_tables.texts.copy_text.success.other') %>"
                  }
                },
                buttons: {
                  copy: "<%= t('javascript.data_tables.texts.buttons.copy') %>",
                  print: "<%= t('javascript.data_tables.texts.buttons.print') %>"
                }
              }
            };
        perc_data_tables.construct_datatable(number_of_columns, name_table,[[0,'asc']], true, texts_i18n);
      });
    </script>
<% end %>
