<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= Payroll.model_name.human %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= Payroll.human_attribute_name('dni') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Payroll.human_attribute_name('name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Payroll.human_attribute_name('salary') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Payroll.human_attribute_name('labor_law_id') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= LaborLaw.human_attribute_name('labor_standard_id') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Payroll.human_attribute_name('bonuses') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Payroll.human_attribute_name('benefits') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= LaborLaw.human_attribute_name('contract_type_id') %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>