<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.one.third_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<!-- Graph for Details -->
		<div class="row">
			<div class="col-md-12">
				<canvas id="detail_stacked" width="100%" height="" style="display: none;"></canvas>
				<div id="graph_detail_stocked"></div>
			</div>
		</div>
		<!-- Detail -->
		<div class="row">
			<div class="col-sm-12">
				<button id="btn_calculate_percentages" class="btn btn-white btn-bitbucket">
					<i class="fa fa-exchange"></i>
				</button>
				<%= link_to multiple_report_detail_number_one_path, class: 'btn btn-primary', target: '_blank' do %>
						<i class="fa fa-list-alt"></i> <%= t('app.analysis_tables.one.third_panel.button_detail') %>
				<% end %>
			</div>
		</div>
		<table class="table table-bordered dataTable no-footer fixed_table" id="concepts_by_cost_centers" cellspacing="0" data-columntotals='1' data-title_download='Analisis Centros de Costo'>
			<thead>
				<tr>
					<td data-cc_name="x"></td>
					<% @cost_centers.each do |cost_center| %>
							<td data-cc_name="<%= cost_center.description %>" data-function="<%= cost_center.function %>" data-cc="<%= cost_center.id %>">
								<%= cost_center.description %>
							</td>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.human_resource') %></label>
					</td>					
				</tr>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.overheads') %></label>
					</td>					
				</tr>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.supplies') %></label>
					</td>					
				</tr>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.total') %></label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function replicate_cc(el) {
			if (el == null) {
				el = '#concepts_by_cost_centers';
			}

			var cc = $(el).find('thead tr:first').html().trim(),
					modify_cc = $(cc).html('<label class="integer_numbers">0</label>'), string;

			modify_cc = $(modify_cc).addClass('text-right').not(':first');			
			$(el).find('tbody tr:eq(0)').append($(modify_cc).clone());
			$(el).find('tbody tr:eq(1)').append($(modify_cc).clone());
			$(el).find('tbody tr:eq(2)').append($(modify_cc).clone());
			$(el).find('tbody tr:eq(3)').append($(modify_cc).clone());
		}

		function find_total_cc(data, current_cc) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].cost_center_id == current_cc){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function assing_val_cc(data, el) {
			if (el == null) {
				el = '#concepts_by_cost_centers';
			}

			var cc, current_data, current_total, current_hs, current_sp, current_ov, total_costs = { 'total': { 'care': 0, 'logistic': 0, 'administration': 0 }, 'hr': { 'care': 0, 'logistic': 0, 'administration': 0 } }, total_entity = 0, total_hr = 0, data_function = '';

			$(el).find('thead tr:first td:not(:first)').each(function(k,v) {
				current_total = 0;
				current_hs = 0;
				current_ov = 0;
				current_sp = 0;

				cc = $(v).data('cc');
				data_function = $(v).data('function');

				current_data = find_total_cc(data.hs, cc);
				if (current_data != {}) {
					current_hs = current_data.total ? parseFloat(current_data.total) : 0.0;
					current_total += current_hs;
				}
				
				current_data = find_total_cc(data.ov, cc);
				if (current_data != {}) {
					current_ov = current_data.total ? parseFloat(current_data.total) : 0.0;
					current_total += current_ov;
				}

				current_data = find_total_cc(data.sp, cc);
				if (current_data != {}) {
					current_sp = current_data.total ? parseFloat(current_data.total) : 0.0;
					current_total += current_sp;
				}

				total_entity += current_total;
				total_hr += current_hs;

				$(el + ' tbody tr:eq(0) td[data-cc="'+ cc +'"] label').data('change_val', ((current_hs/current_total)*100).toFixed(2)+'%').html(current_hs);
				$(el + ' tbody tr:eq(1) td[data-cc="'+ cc +'"] label').data('change_val', ((current_ov/current_total)*100).toFixed(2)+'%').html(current_ov);
				$(el + ' tbody tr:eq(2) td[data-cc="'+ cc +'"] label').data('change_val', ((current_sp/current_total)*100).toFixed(2)+'%').html(current_sp);
				$(el + ' tbody tr:eq(3) td[data-cc="'+ cc +'"] label').html(current_total);

				if (data_function == 'final' || data_function == 'care_support') {
					total_costs.total.care += current_total;
					total_costs.hr.care += current_hs;
				} else if (data_function == 'logistical_support') {
					total_costs.total.logistic += current_total;
					total_costs.hr.logistic += current_hs;
				} else {
					total_costs.total.administration += current_total;
					total_costs.hr.administration += current_hs;
				}
			});

			$('#control_panel_cts tbody tr:first td:eq(1)').html( new Intl.NumberFormat().format(total_costs.total.care.toFixed(0)) );
			$('#control_panel_cts tbody tr:first td:eq(2)').html( ((total_costs.total.care / total_entity) * 100).toFixed(2) + '%' );
			$('#control_panel_cts tbody tr:eq(1) td:eq(1)').html( new Intl.NumberFormat().format(total_costs.total.logistic.toFixed(0)) );
			$('#control_panel_cts tbody tr:eq(1) td:eq(2)').html( ((total_costs.total.logistic / total_entity) * 100).toFixed(2) + '%' );
			$('#control_panel_cts tbody tr:eq(2) td:eq(1)').html( new Intl.NumberFormat().format(total_costs.total.administration.toFixed(0)) );
			$('#control_panel_cts tbody tr:eq(2) td:eq(2)').html( ((total_costs.total.administration / total_entity) * 100).toFixed(2) + '%' );

			$('#control_panel_crs tbody tr:first td:eq(1)').html( new Intl.NumberFormat().format(total_costs.hr.care.toFixed(0)) );
			$('#control_panel_crs tbody tr:first td:eq(2)').html( ((total_costs.hr.care / total_hr) * 100).toFixed(2) + '%' );
			$('#control_panel_crs tbody tr:eq(1) td:eq(1)').html( new Intl.NumberFormat().format(total_costs.hr.logistic.toFixed(0)) );
			$('#control_panel_crs tbody tr:eq(1) td:eq(2)').html( ((total_costs.hr.logistic / total_hr) * 100).toFixed(2) + '%' );
			$('#control_panel_crs tbody tr:eq(2) td:eq(1)').html( new Intl.NumberFormat().format(total_costs.hr.administration.toFixed(0)) );
			$('#control_panel_crs tbody tr:eq(2) td:eq(2)').html( ((total_costs.hr.administration / total_hr) * 100).toFixed(2) + '%' );

			$('#control_panel_fm tbody tr:eq(1) td:eq(1) label').html(new Intl.NumberFormat().format(clean_number_mask($('#control_panel_fm tbody tr:first td:eq(1) label').html()) - total_entity.toFixed(0)));
		}

		function graph_total_cc(info, el){
			if (el == null){
				el = '#concepts_by_cost_centers'
			}

			graph = c3.generate({
        bindto: '#graph_detail_stocked',
        data:{
          x : 'x',
          columns: info.columns,
          colors: info.colors,
          type: 'bar',
          groups: info.groups || [],
          labels: { format: { y: d3.format("$,") } }
        },
        zoom: { enabled: true },
        tooltip: { format: { value: function(value) { return d3.format(",.2f")(value) } } },
        axis: {
          y: { tick: { format: d3.format(",.2f") } },
          x: { type: 'category', tick: { rotate: 90, multiline: true, width: 140 }, height: 200 }
        }
      });

      if ($(el + ' thead tr td').length > 21) {
        graph.zoom([1, 10]);
      }
		}

		function change_val_to_percent(el, table) {
			if (el == null) {
				el = '#btn_calculate_percentages';
			}
			if (table == null) {
				table = '#concepts_by_cost_centers';
			}

			var other_val, $current;

			$(el).click(function(e) {
				$(table + ' tbody tr:not(:last) td:not(:first) label').each(function(k,v) {
					$current = $(v)
					other_val = $current.data('change_val');
					$current.data('change_val', $current.html());
					$current.html(other_val);
				});
				print_graph_total_cc();
			});
		}

		function print_graph_total_cc(el){
			if (el == null) {
				el = '#concepts_by_cost_centers';
			}

			var current_data, data_graph = { columns: [[],[],[],[]], colors: {}, groups: [] };

			$(el + ' thead tr:first td').each(function(k, v) {
				current_data = $(v);
				data_graph.columns[0].push(current_data.data('cc_name'));
				data_graph.columns[1].push(clean_number_mask($(el + ' tbody tr:eq(0) td:eq('+ k +') label').html()));
				data_graph.columns[2].push(clean_number_mask($(el + ' tbody tr:eq(1) td:eq('+ k +') label').html()));
				data_graph.columns[3].push(clean_number_mask($(el + ' tbody tr:eq(2) td:eq('+ k +') label').html()));
			});

			data_graph.colors[$(el + ' tbody tr:eq(0) td:eq(0) label').html()] = '#E83060';
			data_graph.colors[$(el + ' tbody tr:eq(1) td:eq(0) label').html()] = '#FFE321';
			data_graph.colors[$(el + ' tbody tr:eq(2) td:eq(0) label').html()] = '#3FCFDA';
			data_graph.groups.push([$(el + ' tbody tr:eq(0) td:eq(0) label').html(),$(el + ' tbody tr:eq(1) td:eq(0) label').html(),$(el + ' tbody tr:eq(2) td:eq(0) label').html()]);

			graph_total_cc(data_graph);
		}

		function get_info_total_cc() {
      $.ajax({
        url: '/multiple_months/management_number_one/total_per_cost_center',
        method: 'GET'
      })
      .done(function(data) {
        $.when(replicate_cc()).done(function(){
        	$.when(assing_val_cc(data)).done(function() {
        		calc_weighted_cost();
        		get_info_total_indirect();
        	});
        	change_val_to_percent();
        	print_graph_total_cc();
        });        
      });
    }
	</script>
<% end %>