<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= t('app.analysis_tables.one.first_panel.title') %></h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content" id="content-control-panel">
    <p>
      <strong><%= t('app.analysis_tables.one.first_panel.month') %>: </strong><span id="month-current-human"></span>
    </p>
    
    <div class="row">
      <div class="col-md-4">
        <table class="table table-bordered no-footer" cellspacing="0" id="control_panel_1">
          <thead>
            <tr>
              <td></td>
              <td><%= t('app.analysis_tables.common.total') %></td>
              <td><%= t('app.analysis_tables.common.percentage') %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= t('app.analysis_tables.common.total_cost') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.common.human_resource') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.common.overheads') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.common.supplies') %></td>
            </tr>            
          </tbody>
        </table>
        <table class="table table-bordered no-footer" cellspacing="0" id="control_panel_1p5">
          <thead>
            <tr>
              <td></td>
              <td><%= t('app.analysis_tables.common.total') %></td>
              <td><%= t('app.analysis_tables.common.percentage') %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= t('app.analysis_tables.one.first_panel.medicines') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.one.first_panel.op_material') %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-bordered dataTable no-footer" cellspacing="0" id="control_panel_2">
          <thead>
          <tr>
            <td></td>
            <td><%= t('app.analysis_tables.common.total') %></td>
            <td><%= t('app.analysis_tables.common.percentage') %></td>
          </tr>
          </thead>
          <tbody>
            <tr id="#cp2_item_1" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.hospitalization') %></label></td></tr>
            <tr id="#cp2_item_2" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.intensive_care_unit') %></label></td></tr>
            <tr id="#cp2_item_3" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.quirofanos') %></label></td></tr>
            <tr id="#cp2_item_4" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.emergencies') %></label></td></tr>
            <tr id="#cp2_item_5" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.consultation') %></label></td></tr>
            <tr id="#cp2_item_6" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.extramural_services') %></label></td></tr>
            <tr id="#cp2_item_7" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.clinic') %></label></td></tr>
            <tr id="#cp2_item_8" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.promotion_prevention') %></label></td></tr>
            <tr id="#cp2_item_9" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.primary_health') %></label></td></tr>
            <tr id="#cp2_item_10" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.basic_plan') %></label></td></tr>
            <tr id="#cp2_item_11" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.other_services') %></label></td></tr>
            <tr id="#cp2_item_12" style="display: none;"><td><label><%= t('app.analysis_tables.one.first_panel.administration') %></label></td></tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-bordered dataTable no-footer" cellspacing="0" id="control_panel_3">
          <thead>
          <tr>
            <td></td>
            <td><%= t('app.analysis_tables.common.quantity') %></td>
            <td><%= t('app.analysis_tables.common.average_cost') %></td>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><label><%= t('app.analysis_tables.one.first_panel.beds') %></label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    function print_parent_centers_analysis(data, total) {
      var current_total = 0;

      $(data).each(function(k, v) {
        current_total = parseFloat(v.total);
        $('#control_panel_2 tbody tr:eq(' + (v.type_group - 1) +')').append('<td class="currency text-right"><label class="integer_numbers">'+ current_total +'</label></td><td class="currency text-right"><label class="">'+ ( (current_total / total) * 100 ).toFixed(2) +'%</label></td>').show();
      });
    }
    
    function print_special_values(data, total) {
      var med = parseFloat(data[1].total),
          mmo = parseFloat(data[2].total),
          beeds = parseFloat(data[0].total);
      $('#control_panel_1p5 tbody tr:eq(0)').append('<td class="text-right"><label class="integer_numbers">'+ med +'</label></td><td class="text-right"><label class="">'+ ( (med / total) * 100 ).toFixed(2) +'%</label></td>');
      $('#control_panel_1p5 tbody tr:eq(1)').append('<td class="text-right"><label class="integer_numbers">'+ mmo +'</label></td><td class="text-right"><label class="">'+ ( (mmo / total) * 100 ).toFixed(2) +'%</label></td>');

      $('#control_panel_3 tbody tr:first').append('<td class="text-right"><label class="integer_numbers">'+ beeds +'</label></td><td class="currency text-right"><label class="integer_numbers">' + (total / beeds).toFixed(2) + '</label></td>');
    }

    function print_totals(data) {
      var hs = parseFloat(data.hs[0].total),
          ov = parseFloat(data.ov[0].total),
          sp = parseFloat(data.sp[0].total),
          total = hs + ov + sp;

      $('#control_panel_1 tbody tr:eq(0)').append('<td class="currency text-right"><label class="integer_numbers">'+ total +'</label></td><td class="currency text-right"><label class="">100%</label></td>');
      $('#control_panel_1 tbody tr:eq(1)').append('<td class="currency text-right"><label class="integer_numbers">'+ hs +'</label></td><td class="currency text-right"><label class="">'+ ( (hs / total) * 100 ).toFixed(2) +'%</label></td>');
      $('#control_panel_1 tbody tr:eq(2)').append('<td class="currency text-right"><label class="integer_numbers">'+ ov +'</label></td><td class="currency text-right"><label class="">'+ ( (ov / total) * 100 ).toFixed(2) +'%</label></td>');
      $('#control_panel_1 tbody tr:eq(3)').append('<td class="currency text-right"><label class="integer_numbers">'+ sp +'</label></td><td class="currency text-right"><label class="">'+ ( (sp / total) * 100 ).toFixed(2) +'%</label></td>');
      
      return total;
    }

    function get_info_control_panel() {
      $.ajax({
        url: '/multiple_months/management_number_one/control_panel',
        method: 'GET'
      })
      .done(function(data) {
        var total_entity = print_totals(data);
        print_special_values(data.spv, total_entity);
        print_parent_centers_analysis(data.pg, total_entity);
        get_info_costs_per_month();
      });
    }
  </script>
<% end %>