<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.multiple_months.one.additional_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<!-- Graph for Details -->
		<div class="row">
			<div class="col-md-12">
				<canvas id="gconcepts_by_date" width="100%" height="" style="display: none;"></canvas>
				<div id="graph_concepts_by_date"></div>
			</div>
		</div>
		<table class="table table-bordered dataTable no-footer fixed_table" id="concepts_by_date" cellspacing="0" data-columntotals='1' data-title_download='Analisis Centros de Costo'>
			<thead>
				<tr>
					<td></td>					
					<% (0..@months_total).each do |number| %>
						<% current_date = @starting_date + number.months %>
						<td>
							<label for=""><%= "#{current_date.month}/#{current_date.year}" %></label>
						</td>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.human_resource') %></label>
					</td>
				</tr>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.overheads') %></label>
					</td>
				</tr>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.supplies') %></label>
					</td>
				</tr>
				<tr>
					<td>
						<label for=""><%= t('app.analysis_tables.common.total') %></label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function create_graph_by_date(options) {
      var graphic_element = options.graphic_element,
          graph;
      graph = c3.generate({
        point: options.point,
        bindto: graphic_element,
        data:{
          x : 'x',
          columns: options.columns || [],
          colors: options.colors || {},
          type: options.type || 'line',
          groups: options.groups || [],
          labels: {
            format: {
              y: d3.format("$,")
            }
          }
        },
        zoom: {
          enabled: true
        },
        tooltip: {
          format: {
            value: function(value) {
              return d3.format(",.2f")(value)
            }
          }
        },
        axis: {
          y : {
            tick: {
              format: d3.format(",.2f")
            }
          },
          x: {
            type: 'category'
          }
        }
      });

      if ($('#concepts_by_date thead tr td').length > 21) {
        graph.zoom([1, 10]);
      }
    }

		function find_data_in_object(data, current_date) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].date_total == current_date){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function print_date_info(data) {
			var current_hs, current_ov, current_sp, current_date, graph_colors = {}, 
					$table = $('#concepts_by_date')
					data_graph = [
						['x'],
						[$table.find('tbody tr:eq(0) td:first label').html().trim()],
						[$table.find('tbody tr:eq(1) td:first label').html().trim()],
						[$table.find('tbody tr:eq(2) td:first label').html().trim()]
					];

			$('#concepts_by_date thead tr:first td:gt(0)').each(function(k,v) {
				current_date = v.textContent.trim();
				data_graph[0].push(current_date);
				current_hs = find_data_in_object(data.hs, current_date);
				current_ov = find_data_in_object(data.ov, current_date);
				current_sp = find_data_in_object(data.sp, current_date);

				$('#concepts_by_date tbody tr:eq(0)').append('<td class="text-right"><label class="integer_numbers">'+ current_hs.total +'</label></td>');
				data_graph[1].push(current_hs.total);
				$('#concepts_by_date tbody tr:eq(1)').append('<td class="text-right"><label class="integer_numbers">'+ current_ov.total +'</label></td>');
				data_graph[2].push(current_ov.total);
				$('#concepts_by_date tbody tr:eq(2)').append('<td class="text-right"><label class="integer_numbers">'+ current_sp.total +'</label></td>');
				data_graph[3].push(current_sp.total);
				$('#concepts_by_date tbody tr:eq(3)').append('<td class="text-right"><label class="integer_numbers">'+ (parseFloat(current_hs.total) + parseFloat(current_ov.total) + parseFloat(current_sp.total)) +'</label></td>');
			});

			graph_colors[$table.find('tbody tr:eq(0) td:first label').html().trim()] = '#E83060';
			graph_colors[$table.find('tbody tr:eq(1) td:first label').html().trim()] = '#FFE321';
			graph_colors[$table.find('tbody tr:eq(2) td:first label').html().trim()] = '#3FCFDA';

			create_graph_by_date({
				graphic_element: '#graph_concepts_by_date',
				columns: data_graph,
				type: 'line',
				colors: graph_colors,
				groups: []
			});
		}

		function get_info_costs_per_month() {
			$.ajax({
				url: '/multiple_months/management_number_one/total_per_month',
				method: 'GET'
			})
			.done(function(data) {
				print_date_info(data);
        print_table_consolidated();
			});
		}
	</script>
<% end %>