<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.one.second_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered dataTable no-footer" cellspacing="0" id="consolidated_table">
					<thead>
					<tr>
						<td></td>
						<td><%= t('app.analysis_tables.common.total') %></td>
						<td><%= t('app.analysis_tables.common.percentage') %></td>
					</tr>
					</thead>
					<tbody>
					<tr data-summary='human_resource'>
						<td><%= t('app.analysis_tables.common.human_resource') %></td>
					</tr>
					<tr data-summary='overheads'>
						<td><%= t('app.analysis_tables.common.overheads') %></td>
					</tr>
					<tr data-summary='supplies'>
						<td><%= t('app.analysis_tables.common.supplies') %></td>
					</tr>
					<tr data-summary='total_entity' style="background-color: rgba(63,207,218,0.6); font-weight: bold;">
						<td><%= t('app.analysis_tables.common.total') %></td>
					</tr>
					</tbody>
				</table>
				<div id="consolidated_value_graphic"></div>
			</div>
			<div class="col-md-6">
				<div class="content-chartjs">
					<label for = "consolidated_polar_graphic" style="width: 100%; height: 100%">
						<%= t('app.analysis_tables.one.second_panel.title_graph') %><br />
						<canvas id='consolidated_polar_graphic'></canvas>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function delete_character(text, character) {
			if (character == null) {
				character = '%';
			}
			return text.replace(new RegExp(character, 'g'), '')
		}

		function get_data_consolidated(el) {
			if (el == null) {
				el='#control_panel_1';
			}
			return {
				labels: {
					hs: $(el).find('tbody tr:eq(1) td:eq(0)').html().trim(),
					ov: $(el).find('tbody tr:eq(2) td:eq(0)').html().trim(),
					sp: $(el).find('tbody tr:eq(3) td:eq(0)').html().trim()
				},
				hs: {
					total: parseFloat($(el).find('tbody tr:eq(1) td:eq(1) label').html().trim()),
					percent: delete_character($(el).find('tbody tr:eq(1) td:eq(2) label').html().trim())
				},
				ov: {
					total: parseFloat($(el).find('tbody tr:eq(2) td:eq(1) label').html().trim()),
					percent: delete_character($(el).find('tbody tr:eq(2) td:eq(2) label').html().trim())
				},
				sp: {
					total: parseFloat($(el).find('tbody tr:eq(3) td:eq(1) label').html().trim()),
					percent: delete_character($(el).find('tbody tr:eq(3) td:eq(2) label').html().trim())
				},
				total: {
					total: parseFloat($(el).find('tbody tr:eq(0) td:eq(1) label').html().trim()),
					percent: delete_character($(el).find('tbody tr:eq(0) td:eq(2) label').html().trim())
				}
			};
		}

		function print_graph_polar(data) {
			new Chart(document.getElementById('consolidated_polar_graphic').getContext('2d'), {
				type: 'polarArea',
				data: data,
				options: { responsive: true, scale: { ticks: { beginAtZero: true, max: 100 } } }
			});
		}

		function print_graph_bars(data) {
			c3.generate({
				bindto: '#consolidated_value_graphic',
				data:{
					x : 'x',
					columns: data.columns,
					colors: data.colors,
					type: 'bar',
					groups: data.groups,
					labels: { format: { y: d3.format("$,") } }
				},
				tooltip: { format: { value: function(value) { return d3.format(",.2f")(value) } } },
				axis: {
					rotated: true,
					y: { tick: { rotate: 90, multiline: true, format: d3.format(",.0f") } },
					x: { type: 'category', tick: { rotate: 90, multiline: true } }
				}
			});
		}

		function print_table_consolidated(el) {
			if (el == null) {
				el = "#consolidated_table";
			}
			
			var data = get_data_consolidated(),
					polar_graph = { labels: [], datasets: [{ 
						label: $(el).find('thead tr:first td:last').html().trim(),
						backgroundColor: ['rgba(232,48,96,0.6)', 'rgba(255,227,33,0.6)', 'rgba(63,207,218,0.6)'],
						data: []
					}]},
					bar_graph = { columns: [], colors: {}, groups: []};

			$(el).find('tbody tr:eq(0)').append('<td class="currency text-right"><label class="integer_numbers">'+ data.hs.total +'</label></td><td class="percentage text-right"><label class="">'+ data.hs.percent +'%</label></td>');
			$(el).find('tbody tr:eq(1)').append('<td class="currency text-right"><label class="integer_numbers">'+ data.ov.total +'</label></td><td class="percentage text-right"><label class="">'+ data.ov.percent +'%</label></td>');
			$(el).find('tbody tr:eq(2)').append('<td class="currency text-right"><label class="integer_numbers">'+ data.sp.total +'</label></td><td class="percentage text-right"><label class="">'+ data.sp.percent +'%</label></td>');
			$(el).find('tbody tr:eq(3)').append('<td class="currency text-right"><label class="integer_numbers">'+ data.total.total +'</label></td><td class="percentage text-right"><label class="">'+ data.total.percent +'%</label></td>');

			polar_graph.labels.push(data.labels.hs,data.labels.ov,data.labels.sp);
			polar_graph.datasets[0].data.push(data.hs.percent,data.ov.percent,data.sp.percent);
			print_graph_polar(polar_graph);

			bar_graph.columns.push(['x', 'Total'],[data.labels.hs, data.hs.total],[data.labels.ov, data.ov.total],[data.labels.sp, data.sp.total]);
			bar_graph.colors[data.labels.hs] = '#E83060';
			bar_graph.colors[data.labels.ov] = '#FFE321';
			bar_graph.colors[data.labels.sp] = '#3FCFDA';
			bar_graph.groups.push([data.labels.hs,data.labels.ov,data.labels.sp]);
			print_graph_bars(bar_graph);

			get_info_total_cc();
		}
	</script>
<% end %>