<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.one.fifth_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-12">
				<canvas id="detail_total_stacked" width="100%" height="" style="display: none;"></canvas>
				<div id="graph_detail_comparative"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button id="change_values__indirect_costs_table" data-datatable="#indirect_costs_table" class="btn btn-white btn-bitbucket" data-value="value">
					<i class="fa fa-exchange"></i>
				</button>
			</div>
		</div>
		<table class="table table-bordered dataTable no-footer fixed_table" id="indirect_costs_table" cellspacing="0" data-columntotals='1' data-title_download='Analisis Costos Indirectos' width="100%">
			<thead>
				<tr>
					<td data-cc_name='x'></td>
				</tr>
			</thead>
			<tbody>
				<tr>
          <td><label for=""><%= t('app.analysis_tables.one.fifth_panel.operating_cost') %></label></td>
        </tr>
        <tr>
          <td><label for=""><%= t('app.analysis_tables.one.fifth_panel.indirect_cost') %></label></td>
        </tr>
        <tr>
        	<td><label for="">Total</label></td>
        </tr>
			</tbody>
		</table>
		<hr>
		<h3><%= t('app.analysis_tables.one.fifth_panel.title_table') %></h3>
		<div class="row">
			<div class="col-sm-6">
				<table id="weight_percentage" class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th><%= t('app.analysis_tables.common.total') %></th>
							<th><%= t('app.analysis_tables.common.percentage') %></th>
						</tr>
					</thead>
					<tbody>
						<tr class="direct_cost">
							<td><%= t('app.analysis_tables.one.fifth_panel.operating_cost') %></td>
						</tr>
						<tr class="indirect_cost">
							<td><%= t('app.analysis_tables.one.fifth_panel.indirect_cost') %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<div id="weight_percentage_graphic"></div>
			</div>
		</div>		
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function find_indirect_cc(data, current_cc) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].cost_center_id == current_cc){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function replicate_final_centers(elrep, el) {
			if (elrep == null) {
				elrep = '#concepts_by_cost_centers';
			}
			if (el == null) {
				el = '#indirect_costs_table';
			}

			var structure = $(elrep + ' thead tr:first td[data-function="final"]');
			$(el + ' thead tr:first').append($(structure).clone());

			structure = $(elrep + ' tbody tr:last td[data-function="final"]').clone();
			$(el + ' tbody tr:first').append($(structure).clone());

			structure = $(structure).html('<label class="integer_numbers">0</label>');
			$(el + ' tbody tr:eq(1)').append($(structure).clone());
			$(el + ' tbody tr:eq(2)').append($(structure).clone());
		}

		function update_total_distribution(total_direct, total_indirect, el) {
			if (el == null) {
				el = '#weight_percentage';
			}

			var total = total_direct + total_indirect, percent_direct, percent_indirect,
					name_direct = $(el + ' tbody tr:eq(0) td:eq(0)').html(),
					name_indirect = $(el + ' tbody tr:eq(1) td:eq(0)').html(),
					colors = {};

			percent_direct = ((total_direct/total)*100).toFixed(2);
			percent_indirect = ((total_indirect/total)*100).toFixed(2);

			$(el + ' tbody tr:eq(0)').append('<td class="text-right"><label class="integer_numbers">'+ total_direct +'</label></td><td class="text-right"><label>'+ percent_direct +'%</label></td>');
			$(el + ' tbody tr:eq(1)').append('<td class="text-right"><label class="integer_numbers">'+ total_indirect +'</label></td><td class="text-right"><label>'+ percent_indirect +'%</label></td>');
			
			colors[name_direct] = '#3FCFDA';
			colors[name_indirect] = '#E83060';

			c3.generate({
        bindto: '#weight_percentage_graphic',
        data:{
          x : 'x',
          columns: [['x', 'Total'], [name_direct, percent_direct], [name_indirect, percent_indirect]],
          colors: colors,
          type: 'bar',
          groups: [[name_direct, name_indirect]],
          labels: { format: { y: d3.format("$,") } }
        },
        tooltip: { format: { value: function(value) { return d3.format(",.2f")(value) } } },
        axis: {
          rotated: true,
          y: { tick: { multiline: true, format: d3.format(",.0f") } },
          x: { type: 'category', tick: { multiline: true, } }
        }
      });
		}

		function graph_indirect_costs(info, elgraph, el){
			if (el == null){
				el = '#indirect_costs_table'
			}
			if (elgraph == null) {
				elgraph = '#graph_detail_comparative';
			}

			graph = c3.generate({
        bindto: elgraph,
        data:{
          x : 'x',
          columns: info.columns,
          colors: info.colors,
          type: 'bar',
          groups: info.groups || [],
          labels: { format: { y: d3.format("$,") } }
        },
        zoom: { enabled: true },
        tooltip: { format: { value: function(value) { return d3.format(",.2f")(value) } } },
        axis: {
          y: { tick: { format: d3.format(",.2f") } },
          x: { type: 'category', tick: { rotate: 90, multiline: true, width: 140 }, height: 200 }
        }
      });

      if ($(el + ' thead tr td').length > 21) {
        graph.zoom([1, 10]);
      }
		}

		function print_indirect_graph(el) {
			if (el == null) {
				el = '#indirect_costs_table';
			}

			var current_data, data_graph = { columns: [[],[],[]], colors: {}, groups: [] };

			$(el + ' thead tr:first td').each(function(k, v) {
				current_data = $(v);
				data_graph.columns[0].push(current_data.data('cc_name'));
				data_graph.columns[1].push(clean_number_mask($(el + ' tbody tr:eq(0) td:eq('+ k +') label').html()));
				data_graph.columns[2].push(clean_number_mask($(el + ' tbody tr:eq(1) td:eq('+ k +') label').html()));
			});

			data_graph.colors[data_graph.columns[1][0]] = '#3FCFDA';
			data_graph.colors[data_graph.columns[2][0]] = '#E83060';
			data_graph.groups.push([data_graph.columns[1][0], data_graph.columns[2][0]]);

			graph_indirect_costs(data_graph);
		}

		function update_indirect_costs(data, remnant, el) {
			if (el == null) {
				el = '#indirect_costs_table';
			}

			var current_cc, current_data, current_total, current_direct, current_indirect, current_update, current_remnant,
					total_direct = 0, total_indirect = 0,
					total_norem = parseFloat(clean_number_mask($('#control_panel_1 tbody tr:eq(0) td:eq(1) label').html())) - remnant;

			$(el + ' tbody tr:first td:not(:first)').each(function(k,v) {
				current_cc = $(v);
				current_direct = parseFloat(clean_number_mask(current_cc.find('label').html()));
				current_total = current_direct;
				total_direct += current_direct;
				current_data = find_indirect_cc(data, current_cc.data('cc'));
				if (current_data != {}) {
					current_indirect = parseFloat(current_data.total) > 0 ? parseFloat(current_data.total) : 0.0;
					current_total += current_indirect;
					current_remnant = (remnant * (current_total/total_norem));
					current_indirect += current_remnant;
					current_total += current_remnant;
					current_update = $(el + ' tbody tr:eq(1) td:eq('+ (k + 1) +') label');
					current_update.html(current_indirect);
					total_indirect += current_indirect;
					current_update.data('change_val', ((current_indirect / current_total) * 100).toFixed(2) + '%');
				}
				current_cc.find('label').data('change_val', ((current_direct / current_total) * 100).toFixed(2) + '%');
				$(el + ' tbody tr:eq(2) td:eq('+ (k + 1) +') label').html(current_total);
			});
			update_total_distribution(total_direct, total_indirect);
			print_indirect_graph();
		}

		function change_indirect_to_percent(el, table) {
			if (el == null) {
				el = '#change_values__indirect_costs_table';
			}
			if (table == null) {
				table = '#indirect_costs_table';
			}

			var other_val, $current;

			$(el).click(function(e) {
				$(table + ' tbody tr:not(:last) td:not(:first) label').each(function(k,v) {
					$current = $(v)
					other_val = $current.data('change_val');
					$current.data('change_val', $current.html());
					$current.html(other_val);
				});
				print_indirect_graph();
			});
		}

    function create_datatable_fixed() {
      var table, title_file, options;
      $('table.fixed_table').each(function(index, value) {
        title_file = $(value).data('title_download')+' '+$('#work_date_costs_navbar').val() || 'Tabla de Analisis'+' '+$('#work_date_costs_navbar').val();
        options = {
          bInfo: false, searching: false, bSort: false, paging: false, scrollY: "500px", scrollX: true, scrollCollapse: true, dom: 'Bfrtip',
          buttons: [{
            extend: 'excelHtml5',
            title: title_file,
            action: function(e, dt, node, config) {              
              $('.integer_numbers').number(true, 0, '.', '');
              $.fn.DataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
              $('.integer_numbers').number( true, 0 );
            }
          }]
        };
        table = $(value).DataTable(options);
        if ($(value).attr('id') != 'indirect_costs_table') {
          new $.fn.dataTable.FixedColumns( table, {
            heightMatch: 'none'
          } );
        }
        /*if (table != "") {
          table.fnAdjustColumnSizing.call(this); //oTable is the variable which holds DataTable
        }*/
      });
    }

    function activate_visual_plugins() {
      $.when(create_datatable_fixed()).done(function() {
        $('.integer_numbers').number(true, 0);
      });
    }

		function get_info_total_indirect() {
      $.ajax({
        url: '/multiple_months/management_number_one/total_indirects',
        method: 'GET'
      })
      .done(function(data) {
        $.when(replicate_final_centers()).done(function(){        	
        	update_indirect_costs(data.indirect, parseFloat(data.remnants[0].total));
        	change_indirect_to_percent();
          activate_visual_plugins();
        });        
      });
    }
	</script>
<% end %>