<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.two.second_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="indirect_costs_table">
					<thead><tr><td></td></tr></thead>
					<tbody>
						<% @production_cost_centers.each do |cost_center| %>
							<tr class="row_overheads" data-function="<%= cost_center.function %>" data-center="<%= cost_center.id %>">
								<td>
									<label for=""><%= cost_center.description %></label>
								</td>
							</tr>
						<% end %>
						<tr id="tbl-ind-remnants" class="row_overheads specials">
							<td><label for="">Remanentes</label></td>
						</tr>
						<tr id="tbl-ind-totals" class="row_overheads specials">
							<td><label for="">Total</label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= select_tag('indirect_evaluated', options_from_collection_for_select(@production_cost_centers, 'id', 'description'),
									 {class: 'form-control m-b select2'}) %>
			</div>
			<div class="col-md-8">
				<button type="button" class="btn btn-primary no-margins" data-js-analyze-cc="" data-type='add' 
					data-info-el="#indirect_evaluated" 
					data-table-find="#indirect_costs_table"
					data-table="#indirect_evaluated_table">
					<i class='fa fa-search'></i>
				</button>
				<button type="button" class="btn btn-primary no-margins" data-js-analyze-cc="" data-type='refresh' 
					data-info-el="#indirect_evaluated" 
					data-table-find="#indirect_costs_table"
					data-table="#indirect_evaluated_table">
					<i class='fa fa-refresh'></i>
				</button>
			</div>
		</div>
		<hr class="hr-line-solid"/>
		<table class="table table-bordered dataTable no-footer special-table" id="indirect_evaluated_table" cellspacing="0">
			<thead>
				<tr>
					<th><label for=""><%= t('app.analysis_tables.common.supplies_overheads') %></label></th>					
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function find_ind_detail(data, current_cc, current_spcc) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].cost_center_id == current_cc && transform_data[i].support_center_id == current_spcc){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function find_ind_total(data, current_cc) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].cost_center_id == current_cc){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function replicate_ic_centers(elrep, el) {
			if (elrep == null) {
				elrep = '#summary_table'
			}
			if (el == null) {
				el = '#indirect_costs_table';
			}
			var cc = $(elrep + ' thead tr:first td:not(:first)').clone();

			$(el + ' thead tr:first').append($(cc).clone());
			$('#indirect_evaluated_table thead tr:first').append($(elrep + ' thead tr:first td:not(:first)').clone());

			cc = $(cc).addClass('text-right').html('<label class="integer_numbers">0</label>');
			$(el + ' tbody tr').append(cc);
		}

		function update_indirect_costs(data, el) {
			if (el == null) {
				el = '#indirect_costs_table';
			}

			var current_data, cc, current_col, row_support, support_center, row_total = 0;

			$(el + ' tbody tr:not(.specials)').each(function(k,v) {
				row_total = 0
				row_support = $(v);
				support_center = row_support.data('center');
				$(el + ' thead tr:first td').each(function(key, val) {
					current_col = $(val);
					cc = current_col.data('cost-center');
					current_data = find_ind_detail(data, cc, support_center);
					if (!$.isEmptyObject(current_data)) {
						row_support.find('td[data-cost-center="'+ cc +'"] label').html(current_data.total);
						row_total += parseFloat(current_data.total);
					}
				});
				row_support.find('td:last label').html(row_total);
			});
		}

		function update_totals_indirect(data, el) {
			if (el == null) {
				el = '#indirect_costs_table';
			}

			var cc, current_col, current_data, row_total = 0;

			$(el + ' tbody tr:last td:not(:first):not(:last)').each(function(k,v) {
				current_col = $(v);
				cc = current_col.data('cost-center');
				current_data = find_ind_total(data, cc);
				console.log(current_data);
				if (!$.isEmptyObject(current_data)) {
					current_col.find('label').html(current_data.total);
					row_total += parseFloat(current_data.total);
				}
			});
			$(el + ' tbody tr:last td:last label').html(row_total);
		}

		function update_remnants(remnants, el) {
			if (el == null) {
				el = '#indirect_costs_table';
			}

			var total = parseFloat(clean_number_mask($('#summary_table tbody tr:last td:last label').html())) - remnants,
					cc, total_ind, total_dir, current_col, part_remnant, col_indirect;

			$(el + ' tbody tr#tbl-ind-remnants td[data-function="final"]').each(function(k,v) {
				current_col = $(v);
				cc = current_col.data('cost-center');
				col_indirect = $('#indirect_costs_table tbody tr:last td[data-cost-center="'+ cc +'"] label');
				total_dir = parseFloat(clean_number_mask($('#summary_table tbody tr:last td[data-cost-center="'+ cc +'"] label').html()));
				total_ind = parseFloat(clean_number_mask(col_indirect.html()));

				part_remnant = (remnants * ((total_dir + total_ind) / total));
				current_col.find('label').html(part_remnant);
				col_indirect.html((total_ind + part_remnant));
			});
		}

		function analyze_ind_centers(el) {
			if (el == null) {
				el = 'button[data-js-analyze-cc]'
			}

			$(el).click(function(e) {
				var info = get_data_analyze_btn(this), select = $(info.select).val(), row, type, cols, val_col, total_row, new_html = '<tr><td></td>', table;
				
				if ( $.fn.dataTable.isDataTable(info.table_target) ) {
					table = $(info.table_target).DataTable();
					table.destroy();
				}

				if (info.type_btn == 'refresh') {
					$(info.table_target + ' tbody').empty();
				}

				row = $(info.table_data + ' tbody tr[data-center="'+ select +'"]');
				type = row.data('type');
				cols = row.find('td').clone();

				$(info.table_target + ' tbody').append('<tr data-center="'+ select +'"></tr>');				
				$(info.table_target + ' tbody tr[data-center="'+ select +'"]').append(cols);

				total_row = parseFloat(clean_number_mask($(info.table_target + ' tbody tr[data-center="'+ select +'"] td:last label').html()));
				$(info.table_target + ' tbody tr[data-center="'+ select +'"] td:not(:first)').each(function(k,v) {
					val_col = parseFloat(clean_number_mask($(v).find('label').html()));
					new_html += '<td class="text-right"><label>'+ ((val_col / total_row) * 100).toFixed(2) +'%</label></td>';
				});
				new_html += '</tr>';

				$(info.table_target + ' tbody').append(new_html);
				table = analyze_datatble(info.table_target);
			});
		}

		function get_indirect_cost_data() {
			$.ajax({
				url: '/multiple_months/management_number_one/tf_indirect_costs',
        method: 'GET'
			})
			.done(function(data) {
				$.when(replicate_ic_centers()).done(function() {
					$.when(update_indirect_costs(data.indirect), update_totals_indirect(data.totals)).done(function() {
						$.when(update_remnants(parseFloat(data.remnants[0].total))).done(function() {
							analyze_ind_centers();
							/* CALLBACKS */
							get_production_data();
						});						
					});
				});
			});			
		}
	</script>
<% end %>