<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_graphs.details.cost_production_center') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="summary_table">
					<thead>
						<tr>
							<td></td>
							<% @cost_centers.each do |cost_center| %>
									<td data-cost-center="<%= cost_center.id %>" data-function="<%= cost_center.function %>">
										<label for=""><%= cost_center.description %></label>
									</td>
							<% end %>
							<td><label for="">Total</label></td>
						</tr>
					</thead>
					<tbody>
						<tr id='summary-hs' class="header_human_resource">
							<td><label for=""><%= t('app.analysis_tables.common.human_resource') %></label></td>							
						</tr>
						<tr class="row_human_resource" data-type='hs'><td><label for=""><%= t('app.analysis_tables.common.salaries') %></label></td></tr>
						<tr class="row_human_resource" data-type='hs'><td><label for=""><%= t('app.analysis_tables.common.bonuses') %></label></td></tr>
						<tr class="row_human_resource" data-type='hs'><td><label for=""><%= t('app.analysis_tables.common.benefits') %></label></td></tr>
						<tr id='summary-ov' class="header_overheads">
              <td><label for=""><%= t('app.analysis_tables.common.overheads') %></label></td>
            </tr>
            <% @overheads.each do |overhead| %>
              <tr class="row_overheads" data-supply="<%= overhead.id %>" data-type='ov'><td><label for=""><%= overhead.description %></label></td></tr>
            <% end %>
            <tr id='summary-sp' class="header_supplies">
              <td><label for=""><%= t('app.analysis_tables.common.supplies') %></label></td>              
            </tr>
            <% @supplies.each do |supply| %>
              <tr class="row_supplies" data-supply="<%= supply.id %>" data-type='sp'><td><label for=""><%= supply.description %></label></td></tr>
            <% end %>
            <tr id='summary-total'>
              <td><label>Total</label></td>
            </tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<%= select_tag('supplies_evaluated', options_from_collection_for_select(Supply.joins(:entities).where(:entities_supplies => { entity_id: session[:entity_id] } ).order('supplies.supplies_category_id, supplies.description'), 'id', 'description'),
									 {class: 'form-control m-b select2'}) %>
			</div>
			<div class="col-md-8">
				<button type="button" class="btn btn-primary no-margins" data-js-analyze-data="" data-type='add' 
					data-info-el="#supplies_evaluated" 
					data-table-find="#summary_table"
					data-table="#supplies_evaluated_table">
					<i class='fa fa-search'></i>
				</button>
				<button type="button" class="btn btn-primary no-margins" data-js-analyze-data="" data-type='refresh' 
					data-info-el="#supplies_evaluated" 
					data-table-find="#summary_table"
					data-table="#supplies_evaluated_table">
					<i class='fa fa-refresh'></i>
				</button>
			</div>
		</div>
		<hr class="hr-line-solid"/>
		<table class="table table-bordered dataTable no-footer special-table" id="supplies_evaluated_table" cellspacing="0">
			<thead>
				<tr>
					<td><label for=""><%= t('app.analysis_tables.common.supplies_overheads') %></label></td>					
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<hr class="hr-line-solid"/>
		<h3><%= t 'analysis_multiple_months.production_operating_cost' %></h3>
		<table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="production_centers_direct">
			<thead>
				<tr>
					<td></td>
					<% @cost_centers.each do |cost_center| %>
							<td data-cost-center="<%= cost_center.description %>" data-function="<%= cost_center.function %>">
								<label for=""><%= cost_center.description %></label>
							</td>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<tr><td><%= t('app.analysis_tables.two.third_panel.direct_cost') %> 1</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.production_unit') %> 1</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.unit_cost_production') %> 1</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.production_unit') %> 2</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.unit_cost_production') %> 2</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.production_unit') %> 3</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.unit_cost_production') %> 3</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.production_unit') %> 4</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.unit_cost_production') %> 4</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.production_unit') %> 5</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.unit_cost_production') %> 5</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.production_unit') %> Nº Camas</td></tr>
				<tr><td><%= t('app.analysis_tables.two.third_panel.unit_cost_production') %> Nº Camas</td></tr>
			</tbody>
		</table>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function find_hs_detail(data, current_cc) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].cost_center_id == current_cc){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function find_supplies_detail(data, current_cc, current_sp) {
			var found_data = {}, length_data = data.length, transform_data = data;
			for(var i=0; i<length_data; i++){
				if (transform_data[i].cost_center_id == current_cc && transform_data[i].supply_id == current_sp ){
					found_data = data[i];
					data.splice(i,1);
					break;
				}
			}
			return found_data;
		}

		function replicate_oc_centers(el) {
			if (el == null) {
				el = '#summary_table';
			}
			var cc = $(el + ' thead tr:first td:not(:first)').clone();

			$('#supplies_evaluated_table thead tr:first').append($(cc).clone());

			cc = $(cc).addClass('text-right').html('<label class="integer_numbers">0</label>');
			$(el + ' tbody tr').append(cc);
		}

		function get_data_analyze_btn(element) {
			var el = $(element);
			return { type_btn: el.data('type'), select: el.data('info-el'), table_data: el.data('table-find'), table_target: el.data('table') }
		}
		
		function analyze_supplies(el) {
			if (el == null) {
				el = 'button[data-js-analyze-data]'
			}

			$(el).click(function(e) {
				var info = get_data_analyze_btn(this), select = $(info.select).val(), row, type, cols, val_col, total_row, new_html = '<tr><td></td>', table;

				if ( $.fn.dataTable.isDataTable(info.table_target) ) {
					table = $(info.table_target).DataTable();
					table.destroy();
				}

				if (info.type_btn == 'refresh') {
					$(info.table_target + ' tbody').empty();
				}

				row = $(info.table_data + ' tbody tr[data-supply="'+ select +'"]');
				type = row.data('type');
				cols = row.find('td').clone();

				$(info.table_target + ' tbody').append('<tr data-supply="'+ select +'"></tr>');
				$(info.table_target + ' tbody tr[data-supply="'+ select +'"]').append(cols);

				total_row = parseFloat(clean_number_mask($(info.table_target + ' tbody tr[data-supply="'+ select +'"] td:last label').html()));
				$(info.table_target + ' tbody tr[data-supply="'+ select +'"] td:not(:first)').each(function(k,v) {
					val_col = parseFloat(clean_number_mask($(v).find('label').html()));
					new_html += '<td class="text-right"><label>'+ ((val_col / total_row) * 100).toFixed(2) +'%</label></td>';
				});
				new_html += '</tr>';

				$(info.table_target + ' tbody').append(new_html);
				table = analyze_datatble(info.table_target);
			});
		}

		function update_hs(data, el) {
			if (el == null) {
				el = '#summary_table';
			}

			var current_col, cc, current_data, total = 0, total_salary = 0, total_bonuses = 0, total_benefits = 0;

			$(el + ' thead tr:first td:not(:first)').each(function(k,v) {
				current_col = $(v);
				cc = current_col.data('cost-center');
				current_data = find_hs_detail(data, cc);
				if (!$.isEmptyObject(current_data)) {
					$(el + ' tbody tr:eq(0) td[data-cost-center="'+ cc +'"] label').html(current_data.total);
					$(el + ' tbody tr:eq(1) td[data-cost-center="'+ cc +'"] label').html(current_data.salary);
					$(el + ' tbody tr:eq(2) td[data-cost-center="'+ cc +'"] label').html(current_data.bonuses);
					$(el + ' tbody tr:eq(3) td[data-cost-center="'+ cc +'"] label').html(current_data.benefits);
					total += parseFloat(current_data.total);
					total_salary += parseFloat(current_data.salary);
					total_bonuses += parseFloat(current_data.bonuses);
					total_benefits += parseFloat(current_data.benefits);
				}
			});

			$(el + ' tbody tr:eq(0) td:last label').html(total);
			$(el + ' tbody tr:eq(1) td:last label').html(total_salary);
			$(el + ' tbody tr:eq(2) td:last label').html(total_bonuses);
			$(el + ' tbody tr:eq(3) td:last label').html(total_benefits);
		}

		function update_ov(data, type, el) {
			if (el == null) {
				el = '#summary_table';
			}

			var current_row, current_col, cc, ov, current_data, total_cc, col_total, total_row = 0;

			$(el + ' tbody tr[data-type="'+ type +'"]').each(function(key, val) {
				total_row = 0;
				current_row = $(val);
				ov = current_row.data('supply');				
				$(el + ' thead tr:first td:not(:first)').each(function(k,v) {
					current_col = $(v);
					cc = current_col.data('cost-center');
					current_data = find_supplies_detail(data, cc, ov);
					if (!$.isEmptyObject(current_data)) {
						$(el + ' tbody tr[data-type="'+ type +'"][data-supply="'+ ov +'"] td[data-cost-center="'+ cc +'"] label').html(current_data.total);
						col_total = $(el + ' tbody tr#summary-'+ type +' td[data-cost-center="'+ cc +'"] label');
						total_cc = parseFloat(col_total.html());
						col_total.html(total_cc + parseFloat(current_data.total));

						total_row += parseFloat(current_data.total);
					}
				});
				$(el + ' tbody tr[data-type="'+ type +'"][data-supply="'+ ov +'"] td:last label').html(total_row);
			});
		}

		function update_total() {
			var total_hs = 0, total_ov = 0, total_sp = 0, last_row = $('#summary_table tbody tr:last');

			$('#summary_table tbody tr#summary-ov td:not(:first):not(:last)').each(function(k,v) {
				total_ov += parseFloat(clean_number_mask($(v).find('label').html()));				
			});
			$('#summary_table tbody tr#summary-ov td:last label').html(total_ov);

			$('#summary_table tbody tr#summary-sp td:not(:first):not(:last)').each(function(k,v) {
				total_sp += parseFloat(clean_number_mask($(v).find('label').html()));				
			});
			$('#summary_table tbody tr#summary-sp td:last label').html(total_sp);

			$('#summary_table tbody tr:first td:not(:first)').each(function(k,v) {
				total_hs = parseFloat(clean_number_mask($(v).find('label').html()));
				total_ov = parseFloat(clean_number_mask($('#summary_table tbody tr#summary-ov td:eq('+ (k + 1) +') label').html()));
				total_sp = parseFloat(clean_number_mask($('#summary_table tbody tr#summary-sp td:eq('+ (k + 1) +') label').html()));

				last_row.find('td:eq('+ (k + 1) +') label').html((total_hs + total_ov + total_sp));
			});
		}

		function get_info_direct_costs() {
			$.ajax({
				url: '/multiple_months/management_number_one/tf_direct_costs',
        method: 'GET'
			})
			.done(function(data) {
				$.when(replicate_oc_centers()).done(function() {
					$.when(update_hs(data.hs),update_ov(data.ov, 'ov'),update_ov(data.sp, 'sp')).done(function() {
						update_total();
						analyze_supplies();
						/* CALLBACKS */
						get_indirect_cost_data();
					});
				});
			});
		}
	</script>
<% end %>