<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.two.third_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="production_centers">
					<thead>
						<tr>
							<td></td>							
						</tr>
					</thead>
					<tbody>
						<tr class="row_supplies">
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.total_cost_center') %></label></td>
						</tr>
						<tr class="row_supplies" data-type='production-1'>
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.production_unit') + ' 1' %></label></td>
						</tr>
						<tr class="row_supplies decimal_calcs" data-type='costprod-1'>
							<td><label class="name_base"><%= t('app.analysis_tables.two.third_panel.unit_cost_production') + ' 1' %></label></td>
						</tr>
						<tr class="row_supplies" data-type='production-2'>
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.production_unit') + ' 2' %></label></td>
						</tr>
						<tr class="row_supplies decimal_calcs" data-type='costprod-2'>
							<td><label class="name_base"><%= t('app.analysis_tables.two.third_panel.unit_cost_production') + ' 2' %></label></td>
						</tr>
						<tr class="row_supplies" data-type='production-3'>
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.production_unit') + ' 3' %></label></td>
						</tr>
						<tr class="row_supplies decimal_calcs" data-type='costprod-3'>
							<td><label class="name_base"><%= t('app.analysis_tables.two.third_panel.unit_cost_production') + ' 3' %></label></td>
						</tr>
						<tr class="row_supplies" data-type='production-4'>
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.production_unit') + ' 4' %></label></td>
						</tr>
						<tr class="row_supplies decimal_calcs" data-type='costprod-4'>
							<td><label class="name_base"><%= t('app.analysis_tables.two.third_panel.unit_cost_production') + ' 4' %></label></td>
						</tr>
						<tr class="row_supplies" data-type='production-5'>
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.production_unit') + ' 5' %></label></td>
						</tr>
						<tr class="row_supplies decimal_calcs" data-type='costprod-5'>
							<td><label class="name_base"><%= t('app.analysis_tables.two.third_panel.unit_cost_production') + ' 5' %></label></td>
						</tr>
						<tr class="row_supplies" data-type='production-6'>
							<td><label for=""><%= t('app.analysis_tables.two.third_panel.production_unit') + ' Nº Camas' %></label></td>
						</tr>
						<tr class="row_supplies decimal_calcs" data-type='costprod-6'>
							<td><label class="name_base"><%= t('app.analysis_tables.two.third_panel.unit_cost_production') + ' Nº Camas' %></label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function replacte_info_production(elrep, el) {
			if (elrep == null) {
				elrep = '#summary_table';
			}
			if (el == null) {
				el = '#production_centers';
			}

			var cc = $(elrep + ' thead tr:first td:not(:first)').clone(), total_dir = 0, total_ind = 0, col, new_html = '';
			$(el + ' thead tr:first').append(cc);

			cc = $(cc).clone().addClass('text-right').html('<label class="integer_numbers">0</label>');
			$(el + ' tbody tr:not(:first)').append(cc);

			$(el + ' thead tr:first td:not(:first)').each(function(k, v) {
				col = k + 1;
				cc = $(v).data('cost-center');
				total_dir = parseFloat(clean_number_mask($('#summary_table tbody tr:last td:eq(' + col + ') label').html()));
				total_ind = parseFloat(clean_number_mask($('#indirect_costs_table tbody tr:last td:eq(' + col + ') label').html()));
				new_html += '<td data-cost-center="'+ cc +'" class="text-right"><label class="integer_numbers">'+ (total_dir + total_ind) +'</label></td>';
			});

			$(el + ' tbody tr:first').append(new_html);
			$(el + ' tbody tr.decimal_calcs td label:not(.name_base)').removeClass('integer_numbers').addClass('decimal_numbers');
		}

		function update_production_cc(data) {
			var table = $('#production_centers tbody'), value, total;
			
			$(data).each(function(k, v) {
				value = parseFloat(v.convert_value);
				total = parseFloat(clean_number_mask(table.find('tr:first td[data-cost-center="'+ v.cost_center_id +'"] label').html()));
				table.find('tr[data-type="production-'+ v.production_units +'"] td[data-cost-center="'+ v.cost_center_id +'"] label').html(value);
				table.find('tr[data-type="costprod-'+ v.production_units +'"] td[data-cost-center="'+ v.cost_center_id +'"] label').html(total/value);
			});
		}

		function create_datatable_fixed() {
      var table, title_file, options;
      $('table.fixed_table').each(function(index, value) {
        title_file = $(value).data('title_download')+' '+$('#work_date_costs_navbar').val() || 'Tabla de Analisis'+' '+$('#work_date_costs_navbar').val();
        options = {
          bInfo: false, searching: false, bSort: false, paging: false, scrollY: "500px", scrollX: true, scrollCollapse: true, dom: 'Bfrtip',
          buttons: [{
            extend: 'excelHtml5',
            title: title_file,
            action: function(e, dt, node, config) {              
              $('.integer_numbers').number(true, 0, '.', '');
              $.fn.DataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
              $('.integer_numbers').number( true, 0 );
            }
          }]
        };
        table = $(value).DataTable(options);
        if ($(value).attr('id') != 'indirect_costs_table') {
          new $.fn.dataTable.FixedColumns( table, {
            heightMatch: 'none'
          } );
        }
      });
    }

    function activate_visual_plugins() {
      $.when(create_datatable_fixed()).done(function() {      	
        $('.integer_numbers').number(true, 0);
        $('.decimal_numbers').number(true, 2);
      });
    }

		function get_production_data() {
			$.ajax({
				url: '/multiple_months/management_number_one/tf_production_info',
				method: 'GET'
			})
			.done(function(data) {
				$.when(replacte_info_production()).done(function() {
					update_production_cc(data.production);
					activate_visual_plugins();
				});
			});
		}		
	</script>
<% end %>;