<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Costos por Institución</h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content" id="section_costs_by_entities">    
    <!-- Graph -->
    <div class="row">
      <div class="col-md-12">        
        <div id="graph_costs_by_entities"></div>
      </div>
    </div>
    <!-- Table -->
    <div class="row">
      <div class="col-md-12">        
        <table class="table table-bordered dataTable no-footer" cellspacing="0" id="costs_by_entities">
          <thead>
            <tr>
              <th></th>
              <% @entities.each do |entity| %>
                <th data-entity="<%= entity.id %>">
                  <label data-toggle="popover" data-placement="auto top" data-content="<%= entity.description %>">Inst. <%= entity.code %></label>
                </th>
              <% end %>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>            
            <tr>
              <td><%= t('app.analysis_tables.common.human_resource') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.common.overheads') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.common.supplies') %></td>
            </tr>
            <tr>
              <td><%= t('app.analysis_tables.common.total_cost') %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    function create_init_info() {
      var tot_entities = $('#costs_by_entities thead th').length - 1;

      for (i = 0; i < tot_entities; i++) {
        $('#costs_by_entities tbody tr:eq(0)').append('<td class="currency text-right"><label class="integer_numbers">0</label></td>');
        $('#costs_by_entities tbody tr:eq(1)').append('<td class="currency text-right"><label class="integer_numbers">0</label></td>');
        $('#costs_by_entities tbody tr:eq(2)').append('<td class="currency text-right"><label class="integer_numbers">0</label></td>');
        $('#costs_by_entities tbody tr:eq(3)').append('<td class="currency text-right"><label class="integer_numbers">0</label></td>');
      }
    }

    function update_data_entity(data, row) {
      var element, pos;
      $(data).each(function(k, v) {
        element = $('#costs_by_entities thead th[data-entity="' + v.entity_id + '"]');
        pos = $('#costs_by_entities thead th').index(element);

        $('#costs_by_entities tbody tr:eq(' + row + ') td:eq(' + pos + ') label').html(v.total);
      });      
    }

    function get_data_items(url, row_update, msg, callback) {
      $.ajax({
        url: url,
        contentType: 'application/json; charset=utf-8',        
        method: 'GET',
        cache: false,
        data: {
          dates: $('#analysis_networks_date_parameters').val(),
          entities: $('#analysis_networks_entities_parameters').val()
        }
      }).done(function(data) {
        update_data_entity(data, row_update);
        callback();
      }).fail(function(xhr, text, error) {
        alert(msg);
      });
    }

    function get_human_resource() {
      var url = "<%= get_human_resource_analysis_networks_path %>",
          row_update = 0,
          msg = 'Ocurrio un error al consutlar el recurso humano, intentelo de nuevo';
      
      get_data_items(url, row_update, msg, get_overheads);
    }

    function get_overheads() {
      var url = "<%= get_overheads_analysis_networks_path %>",
          row_update = 1,
          msg = 'Ocurrio un error al consutlar los gastos, intentelo de nuevo';
      
      get_data_items(url, row_update, msg, get_supplies);      
    }

    function get_supplies() {
      var url = "<%= get_supplies_analysis_networks_path %>",
          row_update = 2,
          msg = 'Ocurrio un error al consutlar los insumos, intentelo de nuevo';
      
      get_data_items(url, row_update, msg, calc_totals_by_entity);      
    }

    function calc_totals_by_entity() {
      var hr, ov, sp;

      $('#costs_by_entities tbody tr:last td:not(:first-child)').each(function(k, v){
        hr = parseFloat(String($('#costs_by_entities tbody tr:eq(0) td:eq(' + (k + 1) + ') label').html()).replace(/,/g, ""));
        ov = parseFloat(String($('#costs_by_entities tbody tr:eq(1) td:eq(' + (k + 1) + ') label').html()).replace(/,/g, ""));
        sp = parseFloat(String($('#costs_by_entities tbody tr:eq(2) td:eq(' + (k + 1) + ') label').html()).replace(/,/g, ""));

        $(v).find('label').html((hr + ov + sp));
      });

      calc_totals_by_entity_item();
      update_cp_specials();
      update_cp_parent_values();      
    }

    function calc_totals_by_entity_item() {
      var sum;
      $('#costs_by_entities tbody tr').each(function(k, v){
        sum = 0;
        $(v).find('td:not(:first-child)').each(function(key, val){
          sum += parseFloat(String($(val).find('label').html()).replace(/,/g, ""));
        });

        $(v).find('td:last label').html(sum);
      });

      update_cp_1();
    }

    function update_cp_1() {
      var total = parseFloat(String($('#costs_by_entities tbody tr:eq(3) td:last label').html()).replace(/,/g, "")),
          hr = parseFloat(String($('#costs_by_entities tbody tr:eq(0) td:last label').html()).replace(/,/g, "")),
          ov = parseFloat(String($('#costs_by_entities tbody tr:eq(1) td:last label').html()).replace(/,/g, "")),
          sp = parseFloat(String($('#costs_by_entities tbody tr:eq(2) td:last label').html()).replace(/,/g, ""));
      $('#control_panel_1 tbody tr:eq(0)').append('<td class="currency text-right"><label class="integer_numbers">'+total+'</label></td>');
      $('#control_panel_1 tbody tr:eq(0)').append('<td class="currency text-right"><label class="">100%</label></td>');

      $('#control_panel_1 tbody tr:eq(1)').append('<td class="currency text-right"><label class="integer_numbers">'+hr+'</label></td>');
      $('#control_panel_1 tbody tr:eq(1)').append('<td class="currency text-right"><label class="">'+((hr/total)*100).toFixed(2)+'%</label></td>');

      $('#control_panel_1 tbody tr:eq(2)').append('<td class="currency text-right"><label class="integer_numbers">'+ov+'</label></td>');
      $('#control_panel_1 tbody tr:eq(2)').append('<td class="currency text-right"><label class="">'+((ov/total)*100).toFixed(2)+'%</label></td>');

      $('#control_panel_1 tbody tr:eq(3)').append('<td class="currency text-right"><label class="integer_numbers">'+sp+'</label></td>');
      $('#control_panel_1 tbody tr:eq(3)').append('<td class="currency text-right"><label class="">'+((sp/total)*100).toFixed(2)+'%</label></td>');
    }

    function update_cp_specials() {
      $.ajax({
        url: "<%= get_special_values_analysis_networks_path %>",
        contentType: 'application/json; charset=utf-8',        
        method: 'GET',
        cache: false,
        data: {
          dates: $('#analysis_networks_date_parameters').val(),
          entities: $('#analysis_networks_entities_parameters').val()
        }
      }).done(function(data) {
        update_special_values(data);
      }).fail(function(xhr, text, error) {
        alert('Ocurrio un error al buscar los valores especiales.');
      });
    }

    function update_special_values(data) {
      var beeds = data[0].total,
          medicines = data[1].total,
          op_material = data[2].total,
          total_entity = parseFloat(String($('#control_panel_1 tbody tr:first td:eq(1) label').html()).replace(/,/g, ""));

      $('#control_panel_3 tbody tr:first td:eq(1) label').html(beeds);
      $('#control_panel_3 tbody tr:first').append('<td class="currency text-right"><label class="integer_numbers">' + (total_entity / beeds).toFixed(2) + '</label></td>');

      $('#control_panel_1p5 tbody tr:first td:eq(1) label').html(medicines);
      $('#control_panel_1p5 tbody tr:first td:eq(2) label').html(((medicines / total_entity)*100).toFixed(2) + '%');

      $('#control_panel_1p5 tbody tr:eq(1) td:eq(1) label').html(op_material);
      $('#control_panel_1p5 tbody tr:eq(1) td:eq(2) label').html(((op_material / total_entity)*100).toFixed(2) + '%');
    }

    function update_cp_parent_values() {
      $.ajax({
        url: "<%= get_parents_values_analysis_networks_path %>",
        contentType: 'application/json; charset=utf-8',        
        method: 'GET',
        cache: false,
        data: {
          dates: $('#analysis_networks_date_parameters').val(),
          entities: $('#analysis_networks_entities_parameters').val()
        }
      }).done(function(data) {
        update_parent_values(data);
        $('.integer_numbers').number( true, 0 );
      }).fail(function(xhr, text, error) {
        alert('Ocurrio un error al buscar los valores de los centros padres.');
      });
    }

    function update_parent_values(data) {
      var total_entity = parseFloat(String($('#control_panel_1 tbody tr:first td:eq(1) label').html()).replace(/,/g, ""));

      $(data).each(function(k,v){
        $('#control_panel_2 tbody tr:eq('+ (v.type_group - 1) +')').append('<td class="currency text-right"><label class="integer_numbers">' + v.total + '</label></td><td class="currency text-right"><label class="">' + ((v.total / total_entity) * 100).toFixed(2) + '%</label></td>').show();
      });
    }

    function clean_number_mask(number) {
        return parseFloat(String(number).replace(/,/g, ""));
      }

    function generate_graph() {
      var $data_table = $('#costs_by_entities'),
          name_hr = $data_table.find('tbody tr:eq(0) td:eq(0)').html().trim(),
          name_ov = $data_table.find('tbody tr:eq(1) td:eq(0)').html().trim(),
          name_sp = $data_table.find('tbody tr:eq(2) td:eq(0)').html().trim(),
          c3_options = {
            bindto: '#graph_costs_by_entities',
            data: {
              x: 'x',
              columns: [
                ['x'],
                [name_hr],
                [name_ov],
                [name_sp],
              ],
              type: 'bar',
              groups: [[name_hr,name_ov,name_sp]]
            },
            zoom: {
              enabled: true
            },
            tooltip: {
              format: {
                value: function(value) {
                  return d3.format(",.2f")(value)
                }
              }
            },
            axis: {
              y : {
                tick: {
                  format: d3.format(",.2f")
                }
              },
              x: {
                type: 'category',
                tick: {
                  rotate: 90,
                  multiline: true,
                  width: 140
                },
                height: 200
              }
            }
          };

      $data_table.find('thead tr:first th').not(':first').not(':last').each(function(k,v) {
        c3_options.data.columns[0].push($(v).find('label').html().trim());
        c3_options.data.columns[1].push(clean_number_mask($data_table.find('tbody tr:eq(0) td:eq('+ (k + 1) +') label').html()));
        c3_options.data.columns[2].push(clean_number_mask($data_table.find('tbody tr:eq(1) td:eq('+ (k + 1) +') label').html()));
        c3_options.data.columns[3].push(clean_number_mask($data_table.find('tbody tr:eq(2) td:eq('+ (k + 1) +') label').html()));
      });
      
      c3.generate(c3_options);
    }
  </script>
<% end %>