<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'datatable', media: 'screen', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb_title do %><%= t('app.sections.analysis_and_graphs') %><% end %>
<% content_for :breadcrumb_list do %>
    <li class="active"><strong><%= t('app.analysis_graphs.management.performance_beeds.title') %></strong></li>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'multiple_analysis/title' %>
      
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('app.analysis_graphs.management.performance_beeds.title') %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <% header_centers = header_cost_centers(@cost_centers) %>
          <h2 class="text-center">
            <%= "#{@entity.description} (#{session[:date_start]} - #{session[:date_end]})" %>
          </h2>
          <h3>Producción</h3>
          <table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="performance_beeds_production">
            <thead>
              <tr class="head_cost_centers">
                <td></td>
                <%= header_centers.html_safe %>
              </tr>
            </thead>
            <tbody class="clone_cols_header">
              <tr id="production_1"><td><%= t('app.analysis_graphs.management.performance_beeds.production.one.prod') %></td></tr>
              <tr id="production_2"><td><%= t('app.analysis_graphs.management.performance_beeds.production.two.prod') %></td></tr>
              <tr id="production_6"><td><%= t('app.analysis_graphs.management.performance_beeds.production.beeds.prod') %></td></tr>
            </tbody>
          </table>
          <hr>
          <h3>Costo Total y Costo unitario producción</h3>
          <table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="performance_beeds_average_costs">
            <thead>
              <tr class="head_cost_centers">
                <td></td>
                <%= header_centers.html_safe %>
              </tr>
            </thead>
            <tbody class="clone_cols_header">
              <tr id="total_cost"><td><%= t('app.analysis_graphs.management.performance_beeds.total') %></td></tr>
              <tr id="average_cost_1"><td><%= t('app.analysis_graphs.management.performance_beeds.production.one.cost') %></td></tr>
              <tr id="average_cost_2"><td><%= t('app.analysis_graphs.management.performance_beeds.production.two.cost') %></td></tr>
              <tr id="average_cost_6"><td><%= t('app.analysis_graphs.management.performance_beeds.production.beeds.cost') %></td></tr>
            </tbody>
          </table>
          <hr>
          <h3>Análisis comportamiento camas</h3>
          <table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="performance_beeds_beds_analysis">
            <thead>
              <tr class="head_cost_centers">
                <td></td>
                <%= header_centers.html_safe %>
              </tr>
            </thead>
            <tbody class="clone_cols_header">
              <tr id="average_day_stay"><td><%= t('app.analysis_graphs.management.performance_beeds.production.average_day_stay') %></td></tr>
              <tr id="twist_bed"><td><%= t('app.analysis_graphs.management.performance_beeds.production.twist_bed') %></td></tr>
              <tr id="days_beds_available"><td><%= t('app.analysis_graphs.management.performance_beeds.production.days_beds_available') %></td></tr>
              <tr id="percentage_of_occupation"><td><%= t('app.analysis_graphs.management.performance_beeds.production.percentage_of_occupation') %></td></tr>
              <tr id="replacement_interval"><td><%= t('app.analysis_graphs.management.performance_beeds.production.replacement_interval') %></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'datatable', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $(document).ready(function() {
      clone_centers_header();
      get_information();
    });

    function clone_centers_header() {
      var centers = $('#performance_beeds_production thead tr:first td:not(:first)').clone().addClass('text-right').html('<label class="integer_numbers">0</label>');

      $('.clone_cols_header tr').each(function(index, el) {
        $(el).append($(centers).clone());
      });
    }

    function get_information() {
      $.ajax({
        url: "<%= multiple_total_cost_performance_beeds_path %>",
        method: 'POST'
      }).done(function(data) {
        update_total_cost(data.costs);
        set_production(data.production);
        average_day_stay();
        twist_bed();
        days_beds_available();
        percentage_of_occupation();
        replacement_interval();
        initiate_plugins();
      });
    }

    function update_total_cost(costs) {
      $(costs).each(function(index, el) {
        $('#performance_beeds_average_costs tbody tr:first td[data-cost-center="' + el.id + '"] label').html(el.total);
      });
    }

    function set_production(production) {
      var total_center = 0, unit_cost = 0;

      $(production).each(function(index, el) {
        if (el.production_units < 3 || el.production_units > 5) {
          total_center = parseFloat($('#performance_beeds_average_costs tbody tr:first td[data-cost-center="' + el.cost_center_id + '"] label').html());

          $('#performance_beeds_production tbody tr#production_' + el.production_units + ' td[data-cost-center="' + el.cost_center_id + '"] label').html(
            el.convert_value
          );

          $('#performance_beeds_average_costs tbody tr#average_cost_' + el.production_units + ' td[data-cost-center="' + el.cost_center_id + '"] label').html(
            total_center / el.total_center
          );
        }
      });
    }

    function average_day_stay() {
      var calc = 0;

      $('#performance_beeds_production tbody tr#production_2 td:not(:first)').each(function(index, el) {
        calc = parseFloat($('label', el).html()) / parseFloat($('#performance_beeds_production tbody tr#production_1 td:eq(' + (index + 1) + ') label').html());
        
        $('#performance_beeds_beds_analysis tbody tr#average_day_stay td:eq(' + (index + 1) + ')').html("<label class='decimal_numbers'>" + calc + "</label>");
      });
    }

    function twist_bed() {
      var calc = 0, pos = 0;

      $('#performance_beeds_production tbody tr#production_1 td:not(:first)').each(function(index, el) {
        pos = index + 1;
        calc = parseFloat($('label', el).html()) / parseFloat($('#performance_beeds_production tbody tr#production_6 td:eq(' + pos + ') label').html());

        $('#performance_beeds_beds_analysis tbody tr#twist_bed td:eq(' + pos + ')').html("<label class='decimal_numbers'>" + calc + "</label>");
      });
    }

    function days_beds_available(argument) {
      var calc = 0,
          date_start = moment("1/<%= session[:date_start] %>", "DD/MM/YYYY"),
          date_end = moment(last_day_month("<%= session[:date_end] %>")+"/<%= session[:date_end] %>", "DD/MM/YYYY"), 
          pos = 0,
          number_of_days = date_end.diff(date_start, 'days') + 1;

      $('#performance_beeds_production tbody tr#production_6 td:not(:first)').each(function(index, el) {
        pos = index + 1;
        calc = parseFloat($('label', el).html()) * number_of_days;

        $('#performance_beeds_beds_analysis tbody tr#days_beds_available td:eq(' + pos + ')').html("<label class='decimal_numbers'>" + calc + "</label>");
      });
    }

    function percentage_of_occupation(argument) {
      var calc = 0, pos = 0;

      $('#performance_beeds_production tbody tr#production_2 td:not(:first)').each(function(index, el) {
        pos = index + 1;
        calc = (parseFloat($('label', el).html()) / parseFloat($('#performance_beeds_beds_analysis tbody tr#days_beds_available td:eq(' + pos + ') label').html()));

        $('#performance_beeds_beds_analysis tbody tr#percentage_of_occupation td:eq(' + pos + ')').html("<label>" + (calc * 100).toFixed(2) + "%</label>");
      });
    }

    function replacement_interval(argument) {
      var calc = 0, pos = 0;

      $('#performance_beeds_beds_analysis tbody tr#days_beds_available td:not(:first)').each(function(index, el) {
        pos = index + 1;
        calc = (parseFloat($('label', el).html()) - parseFloat($('#performance_beeds_production tbody tr#production_2 td:eq(' + pos + ') label').html())) / parseFloat($('#performance_beeds_production tbody tr#production_1 td:eq(' + pos + ') label').html());

        $('#performance_beeds_beds_analysis tbody tr#replacement_interval td:eq(' + pos + ')').html("<label class='decimal_numbers'>" + calc + "</label>");
      });
    }

    function initiate_plugins() {
      $('.decimal_numbers').number(true, 2);
      $('.integer_numbers').number(true, 0);
      $('.dataTable').DataTable({
        bInfo:          false,
        searching:      false,
        bSort:          false,
        paging:         false,
        scrollY:        "500px",
        scrollX:        true,
        scrollCollapse: true,
        fixedColumns:   {
          leftColumns: 1
        },
        dom: 'Bfrtip'
      });
    }

    function last_day_month(date_string) {
      var year = date_string.split("/")[1],
          month = date_string.split("/")[0];

      return  new Date(year, month, 0).getDate();
    }
  </script>
<% end %>