<%= form_for(@production_cost_center) do |f| %>
  <% if @production_cost_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_cost_center.errors.count, "error") %> prohibited this production_cost_center from being saved:</h2>

      <ul>
      <% @production_cost_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.number_field :month %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :production_units %><br>
    <%= f.number_field :production_units %>
  </div>
  <div class="field">
    <%= f.label :cost_center_id %><br>
    <%= f.text_field :cost_center_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.text_field :entity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
