<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'datatable', media: 'screen', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb_title do %><%= DistributionArea.model_name.human %><% end %>
<% content_for :breadcrumb_list do %>
    <li class="active"><strong><%= t('app.texts.creating', element: DistributionArea.model_name.human(:count => 2)) %></strong></li>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= t('app.texts.create', element: DistributionArea.model_name.human(:count => 2)) %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= link_to "CSV", distribution_areas_path(format: "csv") %> |
                <%= link_to "Excel", distribution_areas_path(format: "xls") %> |
                <%= link_to "Formato Excel", distribution_areas_path(format: "xls_empty") %>
              </div>
            </div>
            <div class="col-md-6">
              <%= form_tag import_distribution_areas_path, multipart: true, class: 'form-inline' do %>
                  <div class="checkbox m-r-xs">
                    <input type="checkbox" id='empty_format' name='empty_format'>
                    <label for="empty_format">
                      Vaciar Antes
                    </label>
                  </div>
                  <div class="form-group">
                    <%= file_field_tag :file %>
                  </div>
                  <div class="form-group">
                    <%= submit_tag "Importar", class: 'btn btn-default' %>
                  </div>
              <% end %>
            </div>
          </div>
          <table class="table table-bordered dataTable no-footer" id="fixed_table" cellspacing="0">
            <thead>
              <tr>
                <td><%= CostCenter.model_name.human %></td>
                <td><%= DistributionArea.human_attribute_name(:meters) %></td>
              </tr>
            </thead>
            <tbody>
              <% @cost_centers.each do |cost_center| %>
                <tr>
                  <td data-service="<%= cost_center.id %>"><strong><%= cost_center.description %></strong></td>
                  <td>
                    <%= text_field_tag 'data_service', nil, step: 2, class: 'form-control size-100 ajax_meters decimal_numbers_2',
                                         data: {cost_center: cost_center.id},
                                         value: acces_attribute_distribution_area(@distribution_areas.find_by_cost_center_id(cost_center.id)) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
    <%= javascript_include_tag 'datatable', 'data-turbolinks-track' => true %>

    <script type="text/javascript">
      $(function() {
        var ajax_parameters = {
              year: <%= session[:year] %>,
              month: <%= session[:month] %>,
              cost_center: 0,
              meters: 0,
            },
            table = $('#fixed_table').DataTable({
              bInfo: 					false,
              searching: 			false,
              bSort: 					false,
              scrollY:        "300px",
              scrollX:        true,
              scrollCollapse: true,
              paging:         false
            }),
            current_meters = 0;

        $('.ajax_meters').focusin(function () {
          current_meters = $(this).val();
        });

        $('.ajax_meters').focusout(function () {
          if (current_meters != $(this).val()) {
            ajax_parameters.cost_center = $(this).data('cost-center');
            ajax_parameters.meters = $(this).val();
            ajax_request(ajax_parameters);
          }
        });

      });

      function ajax_request(parameters) {
        $.ajax({
          url: '<%= save_meters_areas_path %>',
          type: "GET",
          dataType: "json",
          data: parameters,
          contentType: "script",
          success: function(data) {
            //
          },
          error: function(xhr,exception,status) {
            console.log('entra al error');
            console.log(xhr);
            console.log(exception);
            console.log(status);
          }
        });
      }
    </script>
<% end %>